.cont {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.item {
    margin: 6px;
}

.fff {
    background: #008000;
}

.eee {
    background: #eee;
}

.ddd {
    background: #ddd;
}